<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/pages/homepage.css">
  <link rel="stylesheet" href="../../assets/css/layouts/body.css">
  <link rel="stylesheet" href="../../assets/css/components/animatext.css">
  <link rel="stylesheet" href="../../assets/css/components/navbar.css">
  <script type="module" src="../../javascript/script.js"></script>
</head>
<body>
  <div class="animatext">
  </div>
  <div class="projects-carousel">
    <div class="carousel__viewport">
      <a href="../projects/desktribe.html" class="carousel__slide" id="desktribe__slide">
        <img src="../../assets/images/desktribe/desktribe.png" alt="Mountains">
        <div class="carousel__caption">
          <div class="carousel__caption-container-padding">
            DeskTribe
          </div>
        </div>
      </a>
      <a href="../projects/animatext.html" class="carousel__slide" id="animatext__slide">
        <img src="../../assets/images/animatext/animation_controller.png" alt="Mountains">
        <div class="carousel__caption">
          <div class="carousel__caption-container-padding">
            Animatext
          </div>
        </div>
      </a>
      <a href="../projects/karma.html" class="carousel__slide">
        <img src="../../assets/images/karma/karma_events.png" alt="Mountains">
        <div class="carousel__caption">
          <div class="carousel__caption-container-padding">
            Karma
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="navbar">
    <a href="">About me</a>
  </div>
</body>
</html>
