<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/layouts/body.css">
  <link rel="stylesheet" href="../../assets/css/components/animatext.css">
  <link rel="stylesheet" href="../../assets/css/components/navbar.css">
  <link rel="stylesheet" href="../../assets/css/pages/projects.css">
  <script src="../../javascript/animatext.js" type="module"></script>
</head>
<body>
  <div class="animatext">
  </div>
  <div class="container-display container-nocarousel-height">
    <div class="description">
      <p>AnimaText is a template animation inspired from movie titles usually <br> done using editing softwares like After Effects. <br>
      <p>I wanted to teach myself a better understanding of asynchronous JS and use recursion.<br>
      It is the animation I'm using for this portfolio's titles. <br></p>


      <a href="https://github.com/AlexRz912/dynamic_letter_code_kata_v3">See GitHub</a>
    </div>
  </div>
  <div class="navbar">
    <a href="">About me</a>
  </div>
</body>
</html>
