<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/layouts/body.css">
  <link rel="stylesheet" href="../../assets/css/components/animatext.css">
  <link rel="stylesheet" href="../../assets/css/components/navbar.css">
  <link rel="stylesheet" href="../../assets/css/pages/projects.css">
  <script src="../../javascript/desktribe.js" type="module"></script>
</head>
<body>
  <div class="animatext">
  </div>
  <div class="container-display container-nocarousel-height">
    <div class="description description-desktribe">
      DeskTribe is an app made by a solopreneur for solopreneurs, <br> if you're home alone working, well, you're not alone ! <br>
      It is developed by a good friend of mine and I decided to offer him some pro-bono work.
      <br>
      <br>
      <a href="https://desk-tribe.com/">See Website</a>
    </div>
  </div>
  <div class="navbar">
    <a href="">About me</a>
  </div>
</body>
</html>
