<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/layouts/body.css">
  <link rel="stylesheet" href="../../assets/css/components/animatext.css">
  <link rel="stylesheet" href="../../assets/css/components/navbar.css">
  <link rel="stylesheet" href="../../assets/css/pages/projects.css">
  <script src="../../javascript/karma.js" type="module"></script>
</head>
<body>
  <div class="animatext">
  </div>
  <div class="container-display">
    <div class="carousel carousel_karma">
      <div class="carousel__slide">
        <img src="../../assets/images/karma/Karma_my_events.png" alt="">
      </div>
      <div class="carousel__slide">
        <img src="../../assets/images/karma/Karma_your_games.png" alt="">
      </div>
      <div class="carousel__slide">
        <img src="../../assets/images/karma/Karma_map.png" alt="">
      </div>
      <div class="carousel__slide">
        <img src="../../assets/images/karma/karma_events.png" alt="">
      </div>
      <div class="carousel__slide">
        <img src="../../assets/images/karma/Karma_chat.png" alt="">
      </div>
      <div class="carousel__slide">
        <img class="carousel__image" src="../../assets/images/karma/Karma_leaderboard.png" alt="">
      </div>
    </div>
    <div class="description">
      Karma is a group project made at school Le Wagon, <br> we created an app dedicated to social events around board games.
      <br>
      <br>
      <a href="https://github.com/Gabgab679/KARMA">See On Github</a>
    </div>
  </div>
  <div class="navbar">
    <a href="">About me</a>
  </div>
</body>
</html>
